footer {
  background-color: #141414;
  padding: 40px 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0; /* Add this line to keep the footer at the bottom */
  width: 100%; /* Add this line to make the footer span the entire width */
}

#root {
  background-color: #141414;
}

.welcome {
  background-color: #141414;
}

.body {
  background-color: #141414;
}

.footer-top ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-top ul li {
  margin-bottom: 12px;
}

.footer-top ul li a {
  color: #8c8c8c;
}

.footer-top ul li a:hover {
  color: #b3b3b3;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding: 20px 0;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.footer-social li {
  display: inline-block;
  margin-right: 12px;
}

.footer-social a {
  color: #8c8c8c;
}

.footer-social a:hover {
  color: #b3b3b3;
}

.fab {
  font-size: 16px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  background-color: #8c8c8c;
  transition: all 0.2s ease-in-out;
}

.fab:hover {
  background-color: #b3b3b3;
}

#root,
.welcome {
  background-color: #141414;
  min-height: 100vh; /* Add this line to make the background cover the full viewport height */
}
