.profile-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
}

.profile-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  margin-bottom: 1rem;
}

.profile-header button {
  background-color: #333;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.profile-header button:hover {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border: 2px solid #333;
}

.profile-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 2rem;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  margin-bottom: 1rem;
}

.profile-section p {
  font-size: 1.5rem;
  color: #777;
  margin: 0;
  margin-bottom: 2rem;
}
.profile-section button {
  background-color: #333;
  color: #fff;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-top: auto;
}

.profile-section button:hover {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border: 2px solid #333;
}
.Profile-Name {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  text-transform: capitalize; /* Convert the first letter to uppercase */
}

.update-subscription {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.update-subscription form {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.update-subscription h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 0 0 20px;
}

.update-subscription p {
  font-size: 1rem;
  color: #777;
  margin: 0 0 10px;
}

.update-subscription ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.update-subscription li {
  font-size: 1rem;
  color: #777;
  margin-bottom: 10px;
}
